<h1>Login Page!</h1>
<form action="<%=session_url%>" method="post">
<label for="username">Username:
<input type="text" id="username" name="user[user_name]" value="">
</label>

<label for="password">Password:
<input type="password" id="password" name="user[password]" value="">
</label>

<input type="submit" value="log me in"> 





</form>